In [1]:
x = 5
y="John"
print(x)
print(y)

5
John

In [2]:
x = 4
x="Sally"
x = 8
print(x)

8

In [3]:
x = str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
a = 4
A="Sally"
print(a)
print(A)

4
Sally

In [6]:
a = 4
A="Sally"
print(a)
print(A)

4
Sally